<div class="page-body">
  <div class="container-xl">
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Budget</h3>
    </div>

    <div class="table-responsive">
      <table class="table card-table text-nowrap datatable">
        <thead>
          <tr>

            <th class="w-1">No. <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 15l6 -6l6 6"></path></svg>
            </th>
            <th>Category</th>
            <th>Description</th>
            <th>Qty.</th>
            <th>Unit.</th>
            <th>Unit Price</th>
            <th>Total</th>
            <th></th>
          </tr>

        </thead>
        <tbody>
          <tr>

            <td rowspan="2" ><span class="text-muted">01</span></td>
            <td rowspan="2" class="border-end"><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td>120,000 TSH</td>
            <td><button class="btn btn-danger">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M18 6l-12 12"></path>
                  <path d="M6 6l12 12"></path>
               </svg>

            </span></button></td>

          </tr>
          <tr>

            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td>10,000 TSH</td>
            <td><button class="btn btn-danger">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M18 6l-12 12"></path>
                  <path d="M6 6l12 12"></path>
               </svg>

            </span></button></td>

          </tr>

          <tr>

            <td rowspan="2" ><span class="text-muted">02</span></td>
            <td rowspan="2" class="border-end"><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td>120,000 TSH</td>
            <td><button class="btn btn-danger">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M18 6l-12 12"></path>
                  <path d="M6 6l12 12"></path>
               </svg>

            </span></button></td>

          </tr>
          <tr>

            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td>10,000 TSH</td>
            <td><button class="btn btn-danger">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M18 6l-12 12"></path>
                  <path d="M6 6l12 12"></path>
               </svg>

            </span></button></td>

          </tr>

        </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td colspan="5">TOTAL</td>
          <td>130,000 TSH</td>
          <td></td>

        </tr>
      </tfoot>
      </table>
    </div>

    <div class="card-footer">
      <button class="btn">Save</button>
    </div>
  </div>
</div>
</div>
</div>
