<div class="page-body">
  <div class="container-xl">
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Invoices</h3>
    </div>
    <div class="card-body border-bottom py-3">
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label class="form-label">Project</label>
            <input type="text" class="form-control" name="example-text-input" placeholder="Input placeholder">
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap datatable">
        <thead>
          <tr>
            <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th>
            <th class="w-1">No. <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 15l6 -6l6 6"></path></svg>
            </th>
            <th>Expense Description</th>
            <th>Budget Item</th>
            <th>Qty.</th>
            <th>Unit Price</th>
            <th>Total</th>
            <th></th>
          </tr>

        </thead>
        <tbody>
          <tr>
            <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
            <td><span class="text-muted">01</span></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td>120,000 TSH</td>
            <td><button class="btn btn-danger">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M18 6l-12 12"></path>
                  <path d="M6 6l12 12"></path>
               </svg>

            </span></button></td>

          </tr>
          <tr>
            <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
            <td><span class="text-muted">02</span></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td><input class="form-control"></td>
            <td>10,000 TSH</td>
            <td><button class="btn btn-danger">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M18 6l-12 12"></path>
                  <path d="M6 6l12 12"></path>
               </svg>

            </span></button></td>

          </tr>

        </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td colspan="5">TOTAL</td>
          <td>130,000 TSH</td>
          <td></td>

        </tr>
      </tfoot>
      </table>
    </div>
    <div class="card-footer d-flex align-items-center">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-3">
            <label class="form-label">Account</label>
            <input type="text" class="form-control" name="example-text-input" placeholder="Input placeholder">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer  ">
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label class="form-label">Bank Name</label>
            <input type="text" class="form-control" name="example-text-input" placeholder="Input placeholder">
          </div>
        </div>
        <div class="col-md-8">
          <div class="mb-3">
            <label class="form-label">Account Name</label>
            <input type="text" class="form-control" name="example-text-input" placeholder="Input placeholder">
          </div>
        </div>
        <div class="col-md-7">
          <div class="mb-3">
            <label class="form-label">Account Number</label>
            <input type="text" class="form-control" name="example-text-input" placeholder="Input placeholder">
          </div>
        </div>
        <div class="col-md-5">
          <div class="mb-3">
            <label class="form-label">Swift Code</label>
            <input type="text" class="form-control" name="example-text-input" placeholder="Input placeholder">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn">Save</button>
    </div>
  </div>
</div>
</div>
</div>
