.page-header {
  background-color: #fff;
  padding: var(--tblr-page-padding-y) 0 0;
  margin-top: 0 !important;
  border-bottom: var(--tblr-border-width) solid var(--tblr-border-color-translucent);;
}
